## Ignore all figures and figure director
/FIGURES/**.png
/FIGURES/**.pdf

## Ignore diagnostic figures
/FIGURES/PROGENY/**.png
/FIGURES/PROGENY/**.pdf

## Ignore checkpoints
/NOTEBOOKS/.ipynb_checkpoints/**
**.ipynb_checkpoints/**

## Ignore cache
/NOTEBOOKS/__pycache__/*

## Ignore test notebooks and scripts
/NOTEBOOKS/*_test.*

## Ignore data files
/DATA/*.csv.gz

## Ignore Large SNP dataframe
/GENOTYPE/*-SNPS.csv.gz