## Ignore all figures and figure director
/FIGURES/**.png
/FIGURES/**.pdf

## Ignore diagnostic figures
/FIGURES/PROGENY/**.png
/FIGURES/PROGENY/**.pdf

## Ignore checkpoints
/NOTEBOOKS/.ipynb_checkpoints/**
**.ipynb_checkpoints/**

## Ignore cache
/NOTEBOOKS/__pycache__/*

## Ignore test and oldnotebooks and scripts
/NOTEBOOKS/*_test.*
/NOTEBOOKS/*_old.*

## Ignore bash commands
/NOTEBOOKS/*.sh

## Ignore data files
/DATA/*.csv.gz

## Ignore large fasta files
/DATA/*.fasta

## Ignore lists
/NOTEBOOKS/*.txt

## Ignore gene dataframes
/GENOTYPE/*/CNAG*t26_*.csv.gz
/GENOTYPE/*.csv.gz

## Ignore pdf file
*.pdf
